.stepIndicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    width: 400px;
    
}
  
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.activeStep {
    color: #ff8a00;
    font-weight: bold;
}
  
.inactiveStep {
    color: #b0b0b0;
}
  
.line {
    height: 2px;
    width: 50px;
    background-color: #ff8a00;
}
  
  /* Hide the line for the last step */
/* .step:last-child .line {
    display: none;
} */
  